# Python Data Structures and Boolean

In [3]:
name = "Suman Kumar Chava"

'''
press tab after . to see all the functions available
'''
print(name.isalnum())
print(name.isalpha())

False
False

In [4]:
# Lists

type([])

list

In [6]:
details = ["Suman", "Kumar", 28]
print(details)

['Suman', 'Kumar', 28]

In [7]:
details.append("Temp")

In [8]:
details

['Suman', 'Kumar', 28, 'Temp']

In [9]:
details.insert(2,"Chava")

In [10]:
details

['Suman', 'Kumar', 'Chava', 28, 'Temp']

In [11]:
details[2:] # give all elements start from index 2 till last

['Chava', 28, 'Temp']

In [12]:
details[:3] # Give all elemnts from start to index 3, excluding 3

['Suman', 'Kumar', 'Chava']

In [13]:
details[:] # gives out all the elements of list

['Suman', 'Kumar', 'Chava', 28, 'Temp']

In [14]:
details.append([25,33,42]) # appending a sublist
details

['Suman', 'Kumar', 'Chava', 28, 'Temp', [25, 33, 42]]

In [16]:
details.extend([25,33,42]) # appends each element of the given list to the original list
details

['Suman', 'Kumar', 'Chava', 28, 'Temp', [25, 33, 42], 25, 33, 42, 25, 33, 42]

In [17]:
details.remove([25,33,42]) # to remove a particular element in list
details

['Suman', 'Kumar', 'Chava', 28, 'Temp', 25, 33, 42, 25, 33, 42]

In [19]:
lst = [1,2,3,4,5]
sum(lst)

15

In [20]:
lst.pop() # remove last element in list

5

In [21]:
lst.pop(0)

1

In [22]:
lst

[2, 3, 4]

In [25]:
print(lst.count(1)) # number of occurences of 1 in list
print(lst.count(2)) # number of occurences of 2 in list

0
1

In [26]:
lst.index(3)

1

In [27]:
len(lst)

3

In [28]:
min(lst)

2

In [30]:
max(lst)

4

In [33]:
lst * 2 # whole list will repeated for '2' times

[2, 3, 4, 2, 3, 4]